@font-face {
	font-family: HGRKK;
	src: url(_HGRKK.ttf);
}

.card {
	text-align: center
}

#KanjiFront,
#KanjiBack {
	font-family: hgrkk;
}

@media only screen and (orientation: portrait) {

	#KanjiBack,
	#KanjiBack *,
	#KanjiFront,
	#KanjiFront * {
		font-size: 45vw;
		line-height: 45vw
	}
}

@media only screen and (orientation: landscape) {

	#KanjiBack,
	#KanjiBack *,
	#KanjiFront,
	#KanjiFront * {
		font-size: 10vw;
		line-height: 10vw
	}
}

#stop_sound {
	margin-left: -50px;
	z-index: 10000;
	opacity: 0;
}

#kana_key {
	display: none
}

#kanji_key {
	display: none
}

#kanji_only {
	display: none
}

#dict_key {
	display: none
}

#back {
	display: block;
}

#read_title {
	text-decoration: underline;
}

#kanji_title {
	text-decoration: underline;
}

#compo_wani {
	color: #dd99ff
}

.EFDRC-ctrl,
.EFDRC-outline {
	display: inline-block;
	padding-top: 10px
}

#answer,
.hide,
ruby rt {
	visibility: hidden
}

ruby:active rt,
ruby:hover rt {
	visibility: visible
}